<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>比价系统</title>
    <link type="text/css" href="css/app.css" rel="stylesheet">
</head>
<body>
<div class="result-page-search-container result-page">
    <div class="input-container">

        <input type="text" placeholder="请输入要搜索的商品">
    </div>
    <div class="button-container">
        <div>搜索</div>
    </div>
</div>

<div class="select-btn-container">
    <div class="select-sort-container">
        <div id="normal-sort" class=" sort-btn sort-btn-selected">默认排序</div>
        <div id="sell-sort-sort" class=" sort-btn">销量</div>
        <div id="price-up-sort" class=" sort-btn">价格⬆</div>
        <div id="price-down-sort" class=" sort-btn">价格⬇</div>
    </div>

    <div class="select-checkbox-container">
        <div id="check-jd" class="check-input"><input type="checkbox" name="jd" checked/>京东</div>
        <div id="check-tb" class=" check-input"><input type="checkbox" name="tb" checked/>淘宝</div>
        <div id="check-sn" class=" check-input"><input type="checkbox" name="sn" checked/>苏宁</div>
    </div>
</div>

<div class="br"></div>

<div class="search-result-container">
    <ul class="search-result-list">





    </ul>
</div>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/search.js"></script>
</body>
</html>